<div class="container background-color thanks_bottom p-5">
  <div class="row">
    <h3 class="p-5 mx-auto">
      <strong>お問い合わせありがとうございました！</strong>
    </h3>
  </div>
  <div class="row">
    <h3 class="p-1 mx-auto">
      <%= link_to 'トップへ戻る', root_path, class: "btn btn-outline-secondary nav-link text-dark btn-lg" %>
    </h3>
  </div>
</div>