<%= form_with model: [review, comment], local:false do |f| %>
  <%= f.text_area :comment, style:"text-align: left;", placeholder: "コメントをここに", class: "form-control", size: "100x5" %>
  <p><%= f.submit "送信する", class: "btn btn-outline-primary text-dark" %></p>
<% end %>