<%= form_with model: [review, comment], local:false do |f| %>
  <%= f.text_area :comment, rows: '5', style:"text-align: left;", placeholder: "コメントをここに", class: "btn btn-outline-light text-dark", size: "80x5" %>
  <p><%= f.submit "送信する", class: "btn btn-outline-light text-dark" %></p>
<% end %>