<div class="container background-color p-5 mb-5">
  <h1 class="mb-3">
    Welcome to
    <strong>Culture Square</strong>!
  </h1>
  <h3 class="mb-5">書籍からの学びをアウトプットし、お互いに教養を高め合える書籍レビューサイト</h3>
  <div id="about-image">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
  </div>
  <div class="mx-auto mt-5">
    <h6>
      サイト内ではあなたが興味のある分野の知識を効率良く学べるように設計されています。<br />
      ここでは書籍から学んだ知識をその場でアウトプットしたり、興味のある分野について誰かが投稿したレビューを見ることも可能です。<br />
      さらに、レビュー投稿者をフォローしたり、レビューに対してコメントや質問をすることも出来るのでお互いに効率良く教養を高めていくことができます。
    </h6>
  </div>
  <div class="row">
    <div class="mx-auto mt-3">
      <%= link_to 'トップへ戻る', root_path, class: "btn btn-outline-secondary text-dark" %>
    </div>
  </div>
</div>