<div class="container">
  <h1 class="mb-3">
    Welcome to
    <strong>Culture Square</strong>!
  </h1>
  <h3 class="mb-5">書籍から学んだ知識をアウトプットし、お互いに教養を高め合える知識投稿サイト</h3>
  <div id="about-image">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
  </div>
  <p>
    サイト内では、勉強やお金、健康等の分野の知識を効率良く学べるように設計されています。<br />
    興味のある投稿から学べたり、他者の投稿に対してコメントや質問を残すことができます。また、書籍をその場で検索することもできます。<br />
    投稿者は書籍から学んだ有益な知識や印象的だった内容を投稿し、閲覧者は興味がある分野について他者が発信した投稿を閲覧、コメント、評価できるので、お互いに効率良く教養を高めていくことができます。
  </p>
</div>