@import '~bootstrap/scss/bootstrap';

// body {
//   // background: linear-gradient(35deg, #C3C3E0, #ADADC7);
//   background: #f0f0f0;
//   width: 100vw;
//   height: 100vh;
// }

#theTarget{
  width: 100%;
  height: 600px;
}

.image1 {
  background-image: url("../images/book1.jpg");
}
.image2 {
  background-image: url("../images/book2.jpg");
}
.image3 {
  background-image: url("../images/book3.jpg");
}
.image4 {
  background-image: url("../images/book4.jpg");
}

.bg-image-ground {
  /*width:600px;*/
  /*height:600px;*/
  background-image: url("../images/book4.jpg");
  /*background-image: url('book4.jpg');*/
}

// .nav-tabs{
//   background: linear-gradient(35deg, #0DD7FA, #0E9DE0);
// }

.nav-tabs > li > a {
border-radius: 5px;
}

.nav-tabs > li > a:hover {
  // background-color: #00D1ED !important;
  border-radius: 5px;
  color: #fff !important;
  border: 1px solid black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #68889E !important;
  color: #fff;
  border: 2px solid #3F515F;
}

.card-ranking {
  counter-increment: rank;
  position: relative;
  overflow: hidden;
}

.card-ranking-body::before {
  content: "";
  background-color: #bf0000;
  display: block;
  width: 100%;
  height: 2.5rem;
  transform: rotate(-45deg);
  position: absolute;
  left: -50%;
  top: 0;
}

.card-ranking-body::after {
  content: counter(rank);
  color: white;
  font-size: .9rem;
  font-weight: 700;
  line-height: initial;
  text-align: center;
  width: 1.5em;
  position: absolute;
  left: .3em;
  top: .4em;
}

.review_show {
  overflow: scroll;
}

.review_show:hover {
  background-color: #E3E3E3;
}

#back {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

#back img {
  width: 50px;
}

.background-color {
  background-color: #f0f0f0;
  border-radius: 100px;
}

.background-color-header-footer {
  background-color: #f0f0f0;
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #B3B3B3;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-315deg);
  transform: translateY(20px) rotate(-315deg);
  background-color: #B3B3B3;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(315deg);
  transform: translateY(-20px) rotate(315deg);
  background-color: #B3B3B3;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #f0f0f0;
  color: #000;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  list-style: none;
}
#sp-menu a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.comment-text-wrap {
  word-break: break-all;
}

.review_font {
  font-size: 21px;
}

.edit-footer-bottom {
  margin-bottom: 70px;
}

.unsubscribe-footer-bottom {
  margin-bottom: 250px;
}