@import '~bootstrap/scss/bootstrap';

// body {
//   // background: linear-gradient(35deg, #C3C3E0, #ADADC7);
//   background: #f0f0f0;
//   width: 100vw;
//   height: 100vh;
// }

#theTarget{
  width: 100%;
  height: 700px;
}

.image1 {
  background-image: url("../images/book1.jpg");
}
.image2 {
  background-image: url("../images/book2.jpg");
}
.image3 {
  background-image: url("../images/book3.jpg");
}
.image4 {
  background-image: url("../images/book4.jpg");
}

.bg-image-ground {
  /*width:600px;*/
  /*height:600px;*/
  background-image: url("../images/book4.jpg");
  /*background-image: url('book4.jpg');*/
}

// .nav-tabs{
//   background: linear-gradient(35deg, #0DD7FA, #0E9DE0);
// }

.nav-tabs > li > a {
border-radius: 5px;
}

.nav-tabs > li > a:hover {
  // background-color: #00D1ED !important;
  border-radius: 5px;
  color: #fff !important;
  border: 1px solid black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #68889E !important;
  color: #fff;
  border: 2px solid #3F515F;
}

.card-ranking {
  counter-increment: rank;
  position: relative;
  overflow: hidden;
}

.card-ranking-body::before {
  content: "";
  background-color: #bf0000;
  display: block;
  width: 100%;
  height: 2.5rem;
  transform: rotate(-45deg);
  position: absolute;
  left: -50%;
  top: 0;
}

.card-ranking-body::after {
  content: counter(rank);
  color: white;
  font-size: .9rem;
  font-weight: 700;
  line-height: initial;
  text-align: center;
  width: 1.5em;
  position: absolute;
  left: .3em;
  top: .4em;
}