/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: linear-gradient(35deg, #C3C3E0, #ADADC7);
  background: #f0f0f0;
}

.background {
  /*width:600px;*/
  /*height:600px;*/
  background-image: image-url('book4.jpg');
  /*background-image: url('book4.jpg');*/
}

.nav-tabs{
   background: linear-gradient(35deg, #0DD7FA, #0E9DE0);
 }

.nav-tabs > li > a {
 border-radius: 5px;
}

.nav-tabs > li > a:hover {
  background-color: #00D1ED !important;
  border-radius: 5px;
  color: #fff !important;
  border: 1px solid black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #68889E !important;
  color: #fff;
  border: 2px solid #3F515F;
}