<div class="background-color-header-footer p-3">
  <div class="mx-auto">
    <p class="text-center mt-2">
      © All right reserved by Culture Square supported by
      <img class="rakuten-image mt-3" src="https://webservice.rakuten.co.jp/img/developers_logo.svg">
    </p>
  </div>
</div>