<div class="row background-color-header-footer p-5">
  <div class="d-flex justify-content-center offset-4">
    <a href="#" class="mx-1 text-dark"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="#" class="mx-1 text-dark"><i class="far fa-envelope fa-2x"></i></a>
  </div>
  <p class="text-center">© All right reserved by Culture Square supported by </p>
</div>