<div class="row background-color-header-footer p-5">
  <div class="d-flex justify-content-center mx-auto">
    <p class="text-center">
      © All right reserved by Culture Square supported by
      <img class="rakuten-image" src="https://webservice.rakuten.co.jp/img/developers_logo.svg">
    </p>
  </div>

</div>