<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-header">ジャンル一覧</div>
        <div class="card-body">
          <% genres.each do |genre| %>
            <p class="card-text"><%= genre.name %></p>
          <% end %>
        </div>
      </div>
  </div>
</div>